QPushButton#btn_start {
    background-color: #238636;
    color: #FFFFFF;
    border: 1px solid #2EA043;
    padding: 3px;
    border-radius: 3px;
}
QPushButton#btn_start:hover { background-color: #2EA043; }

QPushButton#btn_reload {
    background-color: #ECD922; 
    color: #000000; 
    border: 1px solid #EFEF21;
    padding: 3px;
    border-radius: 3px;
}
QPushButton#btn_reload:hover { background-color: #EFEF21; }

QPushButton#btn_skip {
    background-color: #DB6D28;
    color: #000000;
    border: 1px solid #F0883E;
    padding: 3px;
    border-radius: 3px;
}
QPushButton#btn_skip:hover { background-color: #F0883E; }

QPushButton#btn_stop {
    background-color: #DA3633;
    color: #000000;
    border: 1px solid #F85149;
    padding: 3px;
    border-radius: 3px;
}
QPushButton#btn_stop:hover { background-color: #F85149; }
